<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <p>
        <a href="/upload">upload</a> |
        <a href="/logout">logout</a>
    </p>
    <h1>
        <%= title %>
    </h1>
    <p>Session id on
        <%= sessid %>
    </p>
    <h2>Files:</h2>
    <ul>
        <% files.forEach(function(fileName) { %>
            <li>
                <a href="<%= filePath %><%= fileName %>" download="<%= fileName %>"><%= fileName %></a>
            </li>
        <% }); %>
      </ul>
    

</body>

</html>